@{
    ViewData["Title"] = "Home Page";
}





<a asp-action="AllMatchesFor24H" asp-controller="Match">All fo 24H</a>

<a asp-action="AllMatches" asp-controller="Match">All matches</a>

<a asp-action="CheckForChanges" asp-controller="Match">Check for changes</a>


