@{
    ViewData["Title"] = "Home Page";
}




<!DOCTYPE html>
<html>
<head>
    <title>Add XML File</title>
</head>
<body>
    <h1>Add XML File</h1>
    <form action="/process-xml" method="post" enctype="multipart/form-data">
        <button type="submit">Upload</button>
    </form>
</body>
</html>

<a asp-action="AllMatchesFor24H" asp-controller="Match">All fo 24H</a>

<h4><p id="countDisplay"></p></h4>

<p>@ViewData["LoggedMessage"]</p>


<script>
    function countAndVisualize() {
        let count = 1;
        const countDisplay = document.getElementById("countDisplay");

        setInterval(() => {
            countDisplay.textContent = count;
            count++;

            if (count > 60) {
                count = 1;
            }
        }, 1000);
    }

    countAndVisualize();
</script>