@using E_SportGamingScore.Core.ViewModels.Matches;
@model GetMatchById






<!DOCTYPE html>
<html>
<head>
    <title>Vertical Table</title>
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            border: 1px solid black;
        }

        th {
            text-align: left;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <td>Match</td>
            <td>Bet</td>
            <td>Value</td>
        </thead>
        <tbody>
        <tr>
            <th scope="row">@Model.MatchName</th>
            @foreach (var item2 in Model.Ods)
            {
                <td>@item2.BetName</td>
                <td>@item2.OddName</td>
                <td>@item2.OddValue</td>
            }
        </tr>
        </tbody>
    </table>
</body>
</html>
